---
import Layout from '../layouts/Layout.astro';
import IntroCard from "../components/IntroCard.astro";
import PostPreviewCard from "../components/PostPreviewCard.astro";

import {
    Pagination,
    PaginationContent,
    PaginationItem,
    PaginationLink,
    PaginationNext,
    PaginationPrevious,
} from "@/components/ui/pagination"

import * as test from "@/contents/intro.mdx"
import {GetStaticPaths, InferGetStaticPropsType, type Page} from "astro";
import * as console from "node:console";

export const getStaticPaths = (async ({ paginate }) => {
    const posts = await Astro.glob("../pages/post/*.md")
    return paginate(posts, { pageSize: 10 })
}) satisfies GetStaticPaths

const { page }: { page: Page } = Astro.props
---

<Layout title="EvanLuo42's Blog">
    <div class="flex flex-col space-y-5 pl-7 pr-7 lg:pl-32 lg:pr-32 xl:pl-60 xl:pr-60 pt-5">
        <IntroCard/>
        <h3 class="text-2xl font-bold">Posts</h3>
        {page.data.map(( post ) => (
          <PostPreviewCard
            path={post.url}
            title={post.frontmatter.title}
            date={new Date(post.frontmatter.date).toLocaleString(undefined, {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            } as Intl.DateTimeFormatOptions)}
            categories={post.frontmatter.categories}
          >
              <Fragment set:html={
                  post.compiledContent()
                    .replace(/<h[1-6][^>]*>.*?<\/h[1-6]>/gis, '')
                    .replace(/<img\b[^>]*>/gi, '')
              } />
          </PostPreviewCard>
        ))}
        <Pagination>
            <PaginationContent>
                {page.url.prev ? (
                    <PaginationItem>
                        <PaginationPrevious href={page.url.prev} />
                    </PaginationItem>
                  )
                  : null
                }
                {
                    [...Array(page.lastPage).keys()].map((x) => (x + 1) === page.currentPage ? (
                      <PaginationItem>
                          <PaginationLink href={"/" + (x + 1)} isActive>
                              {x + 1}
                          </PaginationLink>
                      </PaginationItem>
                    ) : (
                      <PaginationItem>
                          <PaginationLink href={"/" + (x + 1)}>
                              {x + 1}
                          </PaginationLink>
                      </PaginationItem>
                    ))
                }
                {page.url.next ? (
                  <PaginationItem>
                    <PaginationNext href={page.url.next} />
                  </PaginationItem>
                  )
                  : null
                }
            </PaginationContent>
        </Pagination>
    </div>
</Layout>